@import url("../../components/root.css");

.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  max-width: var(max-width);
}
.listSearch > h1 {
  color: rgba(0, 0, 0, 0.582);
}
.listWrapper {
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 1024px;
}
.listSearch {
  flex: 1;
  background-color: #febb02;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  position: sticky;
  top: 10px;
  height: max-content;
}

.listResult {
  flex: 3;
}

.lsItem {
  border-radius: 10px;
  margin-block: 20px;
  background: rgba(255, 255, 255, 0.705);
  display: flex;
  justify-content: center;
}
.lsSearchItem {
  position: relative;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.headerSearchInput {
  background-color: transparent;
}
.newDate {
  position: absolute;
  top: 20px;
  z-index: 3;
}
.headerSearchText {
  cursor: pointer;
  border: none;
}
.headerSearchText:hover {
}
.search-logo {
  margin-right: 10px;
}
.input {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 0.4rem;
}
.input > h4 {
  color: rgba(0, 0, 0, 0.664);
  margin-bottom: 0.2rem;
}

.input > input {
  background-color: #febb02;
  outline: none;
  border: none;
  border-radius: 8px;
  text-align: center;
}
.input > input:hover {
  outline: 2px solid rgb(155, 155, 155);
}
.ssch {
  display: flex;

  justify-content: center;
}
